<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Ana Vitória Dev</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/euavatar.jpeg" alt="Foto da Ana">
            <h1>Ana Vitória</h1>
            <div class="social_links mt-4 text-center">
               <a target="_blank" href="https://www.linkedin.com/in/ana-vit%C3%B3ria-de-sales-sousa-37097a268/">
                <i class="bi bi-linkedin"></i>
               </a> 
               <a target="_blank" href="https://github.com/anavitoriassousa">
                <i class="bi bi-github"></i>

               </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house-door"></i>Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i>Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i>Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-file-earmark"></i>Currículo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-collection"></i>Portfólio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope"></i>Contato</a>
                  </li>
              </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Ana Vitória</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedora FullStack Júnior</span>  
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2"></i>
                    <a href="#sobre">Arraste para Saber Mais</a>
                </div> 
            </div>
        </section>

        <section id="sobre" class="container mt-5">
          <div class="row w-100">
            <div class="col md-12">
              <h2 class="pt-3">Sobre</h2>
              <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.
                I modsætning til hvad mange tror, er Lorem Ipsum ikke bare tilfældig tekst. Det stammer fra et stykke litteratur på latin fra år 45 f.kr., hvilket gør teksten over 2000 år gammel. Richard McClintock, professor i latin fra Hampden-Sydney universitet i Virginia, undersøgte et af de mindst kendte ord "consectetur" fra en del af Lorem Ipsum, og fandt frem til dets oprindelse ved at studere brugen gennem klassisk litteratur. Lorem Ipsum stammer fra afsnittene 1.10.32 og 1.10.33 fra "de Finibus Bonorum et Malorum" (Det gode og ondes ekstremer), som er skrevet af Cicero i år 45 f.kr. Bogen, som var meget populær i renæssancen, er en afhandling om etik. Den første linie af Lorem Ipsum "Lorem ipsum dolor sit amet..." kommer fra en linje i afsnit 1.10.32.
                Standardafsnittet af Lorem Ipsum, som er brugt siden 1500-tallet, er gengivet nedenfor for de, der er interesserede. Afsnittene 1.10.32 og 1.10.33 fra "de Finibus Bonorum et Malorum" af Cicero er også gengivet i deres nøjagtige udgave i selskab med den engelske udgave fra oversættelsen af H. Rackham fra 1914.
              </p>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-4">
              <img class="img-fluid shadow" src="../static/img/eu(ola).jpg" alt="Foto do Avatar da Ana Vitória">
            </div>
            <div class="col md-8">
              <h3>Desenvolvedora FullStack Júnior</h3>
              <p>Det er en kendsgerning, at man bliver distraheret af læsbart indhold på en side, når man betragter dens layout. Meningen med at bruge Lorem Ipsum er, at teksten indeholder mere eller mindre almindelig tekstopbygning i modsætning til "Tekst her - og mere tekst her", mens det samtidigt ligner almindelig tekst. Mange layoutprogrammer og webdesignere bruger Lorem Ipsum som fyldtekst. En søgning på Lorem Ipsum afslører mange websider, som stadig er på udviklingsstadiet. Der har været et utal af variationer, som er opstået enten på grund af fejl og andre gange med vilje (som blandt andet et resultat af humor).</p>

              <div class="row mt-3 mb-3">
                <div class="col md-6">
                  <ul class="list-group list-group-flush fw-bold">
                    <li class="list-group-item">
                      Data Nasc: <span class="fw-lighter">18 de Setembro de 2002</span>
                    </li>
                    <li class="list-group-item">
                      Idade: <span class="fw-lighter">20 anos</span>
                    </li>
                    <li class="list-group-item">
                      Cidade: <span class="fw-lighter">Almirante Tamandaré</span>
                    </li>
                    <li class="list-group-item">
                      Estado: <span class="fw-lighter">Paraná</span>
                    </li>
                  </ul>
                </div>
                <div class="col md-6">
                  <ul class="list-group list-group-flush fw-bold">
                    <li class="list-group-item">
                      Hobby: <span class="fw-lighter">Cozinhar</span>
                    </li>
                    <li class="list-group-item">
                      Trabalho: <span class="fw-lighter">Procurando emprego</span>
                    </li>
                    <li class="list-group-item">
                      Experiência: <span class="fw-lighter">1 ano e 2 meses de estudos</span>
                    </li>
                  </ul>
                </div>
              </div>
              <p>Der er mange tilgængelige udgaver af Lorem Ipsum, men de fleste udgaver har gennemgået forandringer, når nogen har tilføjet humor eller tilfældige ord, som på ingen måde ser ægte ud. Hvis du skal bruge en udgave af Lorem Ipsum, skal du sikre dig, at der ikke indgår noget pinligt midt i teksten. Alle Lorem Ipsum-generatore på nettet har en tendens til kun at dublere små brudstykker af Lorem Ipsum efter behov, hvilket gør dette til den første ægte generator på internettet. Den bruger en ordbog på over 200 ord på latin kombineret med en håndfuld sætningsstrukturer til at generere sætninger, som ser pålidelige ud. Resultatet af Lorem Ipsum er derfor altid fri for gentagelser, tilføjet humor eller utroværdige ord osv.</p>

              
            </div>
          </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">
          <div class="container pb-5">
            <h1 class="pt-5">Habilidades</h1>
            <p>Cras venenatis aliquet libero, at scelerisque massa imperdiet ac. Aliquam dui nibh, tristique et interdum vitae, feugiat ut sapien. Donec non nibh a nunc commodo mollis. Etiam lobortis tincidunt magna, sed volutpat lorem. Nulla hendrerit nunc eu mi efficitur, vitae sagittis lectus facilisis. Donec rhoncus, dui non porttitor condimentum, arcu mauris tincidunt nibh, et placerat lectus eros id sem. Nunc ac augue eu risus feugiat egestas ut et erat. Cras molestie efficitur massa nec efficitur. Sed sit amet augue nulla. Pellentesque interdum non sem laoreet sodales. Nulla cursus fringilla dignissim.</p>

            <div class="row">
              <div class="col md-6">
                <h2 class="pt-5">Estilo e Marcação</h2>
                <p class="mt-3 mb-0">HTML5</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 100%">100%</div>
                </div>
                <p class="mt-3 mb-0">CSS3</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 85%">85%</div>
                </div>

                <h2 class="pt-5">Front End</h2>
                <p class="mt-3 mb-0">JavaScript</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 60%">60%</div>
                </div>

                <h2 class="pt-5">Back End</h2>
                <p class="mt-3 mb-0">Java</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 45%">45%</div>
                </div>
                <p class="mt-3 mb-0">PHP</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 35%">35%</div>
                </div>
                <p class="mt-3 mb-0">Python</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 10%">10%</div>
                </div>
              </div>
            
              <div class="col md-6">
                <h2 class="pt-5">Frameworks</h2>
                <p class="mt-3 mb-0">Flask</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 5%">5%</div>
                </div>
                <p class="mt-3 mb-0">Bootstrap5</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 50%">50%</div>
                </div>
                
                <h2 class="pt-5">Banco de Dados</h2>
                <p class="mt-3 mb-0">MySQL</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 67%">67%</div>
                </div>

                <h2 class="pt-5">Design UI/UX</h2>
                <p class="mt-3 mb-0">Figma</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 30%">30%</div>
                </div>
                <h2 class="pt-5">Outros</h2>
                <p class="mt-3 mb-0">Git</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 25%">25%</div>
                </div>
               
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6">
                <h2 class="pt-5">Sociais</h2>
                <p class="mt-3 mb-0">Comunicação</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 50%">50%</div>
                </div>
                <p class="mt-3 mb-0">Trabalho em Equipe</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 70%">70%</div>
                </div>

                <h2 class="pt-5">Cognitiva</h2>
                <p class="mt-3 mb-0">Raciocínio Lógico</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 65%">65%</div>
                </div>
              </div>

                <div class="col col-md-6">
                  <h2 class="pt-5">Comportamentais</h2>
                  <p class="mt-3 mb-0">Proatividade</p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 98%">98%</div>
                </div>
                <p class="mt-3 mb-0">Organização</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 80%">80%</div>
                </div>
              <div class="col md-6">
                <p class="mt-3 mb-0">Pontualidade</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 100%">100%</div>
                </div>
                <p class="mt-3 mb-0">Persistência</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98" aria-valuemin="0" aria-valuemax="98">
                  <div class="progress-bar" style="width: 98%">98%</div>
                </div>
              </div>
            </div>
           </div>
        </section>
    </main>
    
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>